@import '../../../../styles/colors.scss';

.login {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.45);
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 270px;
  border-radius: 3px;
  padding: 20px;
  text-align: center;
  .banner_alert {
    border-radius: 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
  }
  .back_button {
    background-color: transparent;
    border: none;
    // box-shadow: none;
    color: $lightGrey;
    left: 10px;
    position: absolute;
    top: 10px;
    &:active {
      background-color: transparent;
      color: white;
    }
  }
  .title {
    margin-bottom: 15px;
    margin-top: 0;
    // text-align: right;
  }
  input.form-control {
    background-color: transparent;
    border-radius: 2px;
    border: none;
    border-bottom: 1px solid $darkGrey;
    box-shadow: none;
    color: white;
    outline: none;
    &:focus {
      border-color: white;
    }
  }
  .submit_button {
    margin-top: 20px;
  }
  .banner_alert-enter {
    top: -100px;
    &.banner_alert-enter-active {
      top: 0;
      transition: top 0.3s ease-out;
    }
    .banner_alert-leave {
      top: 0;
      &.banner_alert-leave-active {
        top: -100px;
        transition: top 0.3s ease-out;
      }
    }
  }
}
