@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import '../../styles/colors.scss';

body {
  background-color: #2b2b2b;
  color: white;
  font-family: 'Lato', sans-serif;
  .App {
    .btn {
      border-radius: 3px;
    }
    .btn-default {
      &:focus {
        outline: none !important;
      }
    }
    .btn-primary {
      background-color: $mainRed;
      border-color: $secondaryRed;
      &:active {
        background-color: $secondaryRed !important;
        border-color: $secondaryRed !important;
      }
      &:hover {
        background-color: $secondaryRed;
        border-color: $secondaryRed;
      }
      &:focus {
        background-color: $mainRed;
        outline: none !important;
      }
    }
    .form_control {
      &:focus {
        border-color: inherit !important;
        box-shadow: none !important;
      }
    }
    h1 {
      margin: 0;
    }
    .row {
      margin-bottom: 10px;
      &.no_margin {
        margin-bottom: 0px;
      }
    }
  }
}
