@import '../../../../../styles/colors.scss';

$pretty--color-primary: $mainRed;

.folder_list {
  margin-left: -3px;
  .tree-view {
    color: $darkestGrey;
    font-size: 1.5rem;
    .tree-view_item {
      margin-bottom: 5px;
      .node_label {
        display: inline-block;
        input {
          margin-right: 5px;
          vertical-align: text-top;
        }
        label {
          font-weight: 400;
          margin-bottom: 0;
          &::before {
            border: 1px solid $darkGrey;
          }
        }
      }
    }
  }
}
