@import '../../../../../../../../styles/colors.scss';

.modal.key_modal {
  top: 279px;
  right: initial;
  .modal-dialog {
    width: fit-content;
    .modal-content {
      background-color: $lightGrey;
      color: $darkestGrey;
      padding: 15px;
      width: 375px;
      .btn-primary {
        background-color: $mainRed;
        border-color: $secondaryRed;
      }
    }
  }
}
