@import '../../../../../../../../styles/colors.scss';

.modal.rating_modal {
  top: 279px;
  right: initial;
  .modal-dialog {
    width: fit-content;
    .modal-content {
      background-color: $lightGrey;
      color: $darkestGrey;
      padding: 15px;
      width: 190px;
      .btn {
        &.active {
          background-color: $mainRed;
          border-color: $secondaryRed;
          &:focus {
            background-color: $mainRed;
          }
        }
        &:focus {
          background-color: white;
          border-color: #ccc;
          box-shadow: none;
          outline: none;
        }
      }
    }
  }
}
