@import '../../../../../../../styles/colors.scss';

.tag {
  display: inline-block;
  margin-right: 8px;
  .btn.tag_button {
    border-radius: 15px;
    border: none;
    // border-color: $darkGrey;
    color: $darkGrey;
    font-size: 1.4rem;
    &:hover {
      background-color: white;
      border: none;
    }
    &:focus {
      background-color: white;
    }
    .tag_name {
      display: inline-block;
      margin-right: 8px;
    }
    .tag_count {
      color: $mainRed;
      display: inline-block;
    }
    &.selected {
      background-color: $mainRed;
      color: white;
      &:hover {
        background-color: $mainRed;
        border-color: $darkGrey;
      }
      &:focus {
        background-color: $mainRed;
      }
      .tag_count {
        color: $lightGrey;
      }
    }
  }
}
