@import '../../../../../../styles/colors.scss';

.search_bar {
  position: relative;
  .main_search_input {
    background-color: inherit;
    border-radius: 0;
    padding: 30px;
    color: white;
    &:focus {
      border-color: inherit !important;
      box-shadow: none !important;
    }
  }
  .clear_search_button {
    background-color: inherit;
    border: 0;
    color: white;
    font-size: 20px;
    padding: 0;
    position: absolute;
    right: 20px;
    top: 18px;
    &:active {
      background-color: inherit;
    }
  }
}
