@import '../../../../../../../../styles/colors.scss';

.modal.genre_modal {
  top: 279px;
  right: initial;
  .modal-dialog {
    width: fit-content;
    .modal-content {
      background-color: $lightGrey;
      color: $darkestGrey;
      padding: 15px;
      width: 375px;
      .container {
        padding: 0;
        width: 100%;
        div.col-xs-6 {
          margin-bottom: 10px;
        }
      }
    }
  }
}
