@import '../../../../../../../styles/colors.scss';

table > tbody > tr.sample_row {
  .name_col {
    user-select: none;
  }
  .album_art_col {
    padding: 5;
    position: relative;
    img {
      user-select: none;
      width: 20px;
    }
    .play_button {
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0.7);
      border: 0;
      color: white;
      left: 0;
      height: 100%;
      position: absolute;
      top: 0;
      width: 100%;
      span.glyphicon {
        margin-left: -5px;
        margin-top: 3px;
      }
    }
  }
  .instrument_col {
    user-select: none;
  }
  .length_col {
    user-select: none;
  }
  .key_col {
    user-select: none;
  }
  .rating_col {
    user-select: none;
  }
  &.focused {
    background-color: $mainRed;
    color: white;
  }
}
