@import '../../../../../styles/colors.scss';

.sidebar_footer {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  text-align: center;
  hr {
    border-color: $darkGrey;
    margin-bottom: 10px;
    width: 70%;
  }
  h4 {
    margin: 0;
    margin-bottom: 2px;
  }
}
