@import '../../../../../styles/colors.scss';

.tag_list {
  .container {
    margin-top: 10px;
    padding: 0;
    width: 100%;
    .node_label {
      margin-bottom: 10px;
      .state {
        label {
          .tag_count {
            color: $mainRed;
            margin-left: 5px;
          }
        }
      }
    }
  }
}
