@import '../../../../../styles/colors.scss';

.header {
  position: relative;
  .container {
    padding: 0;
    .header_title {
      display: inline-block;
      font-size: 6rem;
    }
    .toggle_filter_area_button {
      background-color: transparent;
      border: none;
      margin-left: 20px;
      padding: 0;
      vertical-align: super;
      &:active {
        background-color: inherit;
      }
      &:focus {
        outline: none;
      }
      .toggle_filter_area_glyph {
        color: $lightGrey;
        font-size: 24px;
      }
    }
    .pull_right_col {
      text-align: right;
      .header_buttons {
        display: inline-block;
        margin-top: 13px;
        .reset_filters_button {
          margin-left: 15px;
        }
      }
    }
  }
}
