.main {
  .main_grid {
    margin-top: 70px;
    .content {
      margin-left: 0;
      transition: margin-left 0.3s ease-out;
      &.pushed {
        margin-left: 187.5px;
      }
      &.pushed_left {
        margin-left: -375px;
      }
      .header_row {
        margin-bottom: 30px;
      }
      .filter_row {
        margin-bottom: 0px;
        #filter-area-panel {
          background-color: transparent;
          border: none;
          margin: auto;
          margin-bottom: 40px;
          width: 100%;
          transition: all 0.3s ease-out;
          &.pushed {
            width: calc(100% + 187.5px);
          }
          &.pushed_left {
            width: calc(100% - 365px);
          }
          .panel-body {
            padding: 0px 3px;
          }
        }
      }
      .sample_browser_row {
        margin-top: -30px;
      }
    }
  }
}
