.hamburger_icon {
  .hamburger_icon_button {
    background-color: transparent;
    border: none;
    left: 20px;
    padding: 0;
    position: fixed;
    top: 20px;
    &:active {
      background-color: inherit;
    }
    &:focus {
      outline: none;
    }
    .hamburger_icon_glyph {
      color: white;
      font-size: 30px;
    }
  }
}
